.container1, .container2
  margin: auto
  overflow: hidden

.container1
  width: 100%
  max-width: 960px
  background-image: url(../images/footer_lodyas.png)
  &:hover
    outline: 10px solid black

.container2
  width: 100%
  max-width: 860px
  background: rgb(140, 140, 140)
  &:hover
    outline: 15px solid black

.box
  position: relative
  float: left
  height: 130px
  width: 100%
  padding-top: 20px
  transition: box-shadow 0.1s
  z-index: 0
  text-align: center
  font-size: 20px
  &:hover
    outline: 5px solid black
    z-index: 1
  &:active
    box-shadow: inset 0 0 10px #000000
  // colors
  &:nth-child(4n-2) // second
    background-color: red
  &:nth-child(4n-1)  // third
    background-color: green
  &:nth-child(4n)  // fourth
    background-color: blue
  &:last-child
    &:before
      content: ''
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: repeating-linear-gradient(45deg, transparent, transparent 10px, black 10px, black 20px)
      opacity: 0.2
    &.last-child
      background: yellow
  // grid
  &:nth-child(6n-5), &:nth-child(6n-4), &:nth-child(6n-3)
    width: 33.3%
  &:nth-child(6n-2), &:nth-child(6n-1)
    width: 50%
  &:only-of-type a
    display: none
  span
    display: block
    width: 50%
    float: left
    margin-top: 30px
    font-size: 15px
  header
    position: relative
  a
    cursor: pointer
    position: absolute
    right: 20px
    transition: 0.3s
    &:active
      transform: rotate(90deg)

// notification
.notifications
  position: fixed
  top: 0
  right: 0
  width: 200px
  height: auto
  padding: 5px
  z-index: 9999
.notification
  box-sizing: border-box
  width: 100%
  text-align: center
  padding: 10px
  background: rgb(223, 223, 223)
  border-radius: 4px
  margin-bottom: 5px
  -webkit-animation: newNotification 0.5s
  a
    float: right
    cursor: pointer

@-webkit-keyframes newNotification
  0%
    opacity: 0
  100%
    opacity: 1


// statistic
.statistics
  position: fixed
  bottom: 0
  left: 0
  padding: 10px
  margin: 10px
  background: rgb(223, 223, 223)
  border-radius: 4px
  text-align: center