.container1, .container2
  margin: auto
  overflow: hidden

.container1
  width: 100%
  max-width: 960px
  background-image: url(../images/footer_lodyas.png)
  &:hover
    outline: 10px solid black

.container2
  width: 100%
  max-width: 860px
  background: #808080
  &:hover
    outline: 15px solid black

.box
  position: relative
  float: left
  height: 130px
  width: 100%
  padding-top: 20px
  transition: transform 0.1s
  cursor: pointer
  z-index: 0
  text-align: center
  font-size: 20px
  &:hover
    outline: 5px solid black
    z-index: 1
  &:active
    transform: scale(.95)
  // colors
  &:nth-child(4n-2) // second
    background-color: blue
  &:nth-child(4n-1)  // third
    background-color: yellow
  &:nth-child(4n)  // fourth
    background-color: red
  &:last-child
    box-shadow: inset 0 0 10px #000000
  // grid
  &:nth-child(6n-5), &:nth-child(6n-4), &:nth-child(6n-3)
    width: 33.3%
  &:nth-child(6n-2), &:nth-child(6n-1)
    width: 50%
  span
    display: block
    width: 50%
    float: left
    margin-top: 30px
    font-size: 15px