.module {
  float: left;
  height: 150px;
  width: 100%;
  background-color: white;
  transition: 0.1s;
  cursor: pointer;
}

.module:active {
  transform: scale(.95);
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 10px;
  background-color: gray;
  overflow: hidden;
  margin: auto;
}

/*colors*/
.module:nth-child(4n-2) {
  background-color: blue;
}

.module:nth-child(4n-1) {
  background-color: yellow;
}

.module:nth-child(4n) {
  background-color: red;
}

.module:last-child {
  outline: 5px solid purple;
}

/*grid*/
.module:nth-child(6n-5), .module:nth-child(6n-4), .module:nth-child(6n-3) {
  width: 33.3%;
}

.module:nth-child(6n-2), .module:nth-child(6n-1) {
  width: 50%;
}